[user]
	name = mb-tmatsuoka
	email = t.matsuoka@miningbrownie.co.jp
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | [%an] %s%d\" --graph --date=short
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
